@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-accent: rgba(100, 200, 130, 1);
  --color-confirmation-background: rgba(210, 61, 61, 1);
  --color-foreground-secondary: rgba(18, 18, 18, 0.6);
  --color-foreground-tertiary: rgba(102, 102, 102, 1);
  --color-foreground-quaternary: rgba(170, 170, 170, 1);

  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-description: var(--card-description);
  --color-card-title: var(--card-title);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
}

:root {
  --radius: 0.625rem;
  --background: rgba(247, 249, 253, 1);
  --foreground: rgba(18, 18, 18, 1);

  --card: oklch(1 0 0);
  --card-description: oklch(0.145 0 0);
  --card-title: rgba(0, 0, 0, 1);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: var(--accent);
  --primary-foreground: var(--accent-foreground);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: rgba(100, 200, 130, 1);
  --accent-foreground: rgba(255, 255, 255, 1);
  --destructive: rgba(210, 61, 61, 1);
  --border: rgba(170, 170, 170, 1);
  --input-border: rgba(204, 204, 204, 1);
  --input: rgba(255, 255, 255, 1);
  --ring: rgba(255, 255, 255, 1);

  --sidebar: rgba(255, 255, 255, 1);
  --sidebar-foreground: rgba(170, 170, 170, 1);
  --sidebar-accent: rgba(255, 255, 255, 1);
  --sidebar-accent-foreground: rgba(100, 200, 130, 1);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);

  --foreground-secondary: rgba(18, 18, 18, 0.6);
  --foreground-tertiary: rgba(102, 102, 102, 1);
  --foreground-quaternary: rgba(170, 170, 170, 1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}
